/*MENU*/
.menu {
    background: #E1B97C;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .logo img {
    display: block;
    width: 100px;
    height: 100px;
}
.menu__inner ul {
    list-style-type: none;
    padding: 0;
    height: 54px;
    width: 100%;
    text-align: end;
    height: 10px;
}
.menu__inner ul li {
    display: inline;
}
.menu__inner ul li:not(:last-child) {
    margin-right: 50px;
}
.menu__inner a {
    font-weight: 700;
    font-size: 16px;
}
.menu__inner .home_a {
    color: black;
}
/*HOME*/
.home {
    padding: 39px 0 104px;
    background: white;
}
.home_inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
}
.home_inner h1 {
    font-weight: 700;
    margin: 0;
    flex: 0 1 123px;
    font-size: 50px;
    line-height: 75px;
}
.home_inner p {
    font-size: 20px;
    text-align: center;
}
.home_inner a {
    font-weight: 500;
    transform: rotate(-90deg);
    margin-bottom: 20px;
    color: #828282;
}
.home_inner .eng {
    color: black;
}
.home_inner img {
    margin-top: 50px;
    width: 950px;
}
.me {
    padding: 120px 0 107px;
    background-color: #E5E5E5;
}
.me p {
    width: 485px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}
.me .p1 {
    margin: 30px auto 40px;
}
.skills {
    padding: 91px 0 101px;
    background: white;
}
.skills_items1 {
    display: flex;
    justify-content: space-between;
    width: 645px;
    margin: 150px auto 0;
}
.skills_items2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.skills_items {
    flex: 0 1 166px;
    text-align: center;
}
.skills_items .hg200 {
    height: 200px;
}
.skills_items img {
    width: 300px;
}

.skills_items h3 {
    margin: 23px auto 40px;
    color: #828282;
    font-weight: bold;
    text-align: justify;
}
.skills_items .stars4 {
    margin-top: 15px;
}
/*PORTFOLIO*/
.portfolio {
    padding: 112px 0 96px;
    background-color: #E5E5E5;
}
.portfolio h2 {
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 100px;
}
.portfolio .mvp {
    display: flex;
    justify-content: space-between;
}
.portfolio .mvp img {
    width: 400px;
}
/*LOGO*/
.logo_img {
    padding: 112px 0 96px;
    background: white;
}
.logo_img h2 {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 100px;
}
